pipeline/compareandcopyFile.json
{
	"name": "compareandcopyFile",
	"properties": {
		"activities": [
			{
				"name": "Get Metadatdsoruce",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sourceDS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get MetadataTarget",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "targetDS",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "compareFileAvailble",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadatdsoruce",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get MetadataTarget",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadatdsoruce').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(activity('Get MetadataTarget').output.childItems,item().name))",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}