pipeline/filterandswitch.json
{
	"name": "filterandswitch",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.inputtablename",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item(),'emp')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"setSystemVariable": true
				}
			},
			{
				"name": "Filter2",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('source')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),25 )",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"inputtablename": {
				"type": "array",
				"defaultValue": [
					"emp",
					"dept"
				]
			}
		},
		"variables": {
			"source": {
				"type": "Array",
				"defaultValue": [
					23,
					30,
					35
				]
			}
		},
		"annotations": []
	}
}