pipeline/masterpipeline.json
{
	"name": "masterpipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "webCopy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"urlValue": {
							"value": "@pipeline().parameters.urlmaster",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "webdsfinal",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "webfinal2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Execute Pipeline1').output",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Execute Pipeline1').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"urlmaster": {
				"type": "string",
				"defaultValue": "\thttps://dummy.restapiexample.com/api/v1/employees"
			}
		},
		"annotations": []
	}
}